---
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'

const allBlogs = await getCollection('blog')
---

<Layout title="Nathan Lardizabal | Blog">
	<h1 class="font-semibold text-2xl mb-8">read my blog</h1>
	<section class="flex flex-col gap-4">
		{
			allBlogs.map((blog) => (
				<article>
					<a
						href={`/blog/${blog.slug}`}
						class="font-light transition hover:opacity-80 w-fit"
					>
						{blog.data.title}
					</a>
					<p class="text-sm text-gray-500 font-extralight my-1 italic">
						{blog.data.published.toDateString()}
					</p>
				</article>
			))
		}
	</section>
</Layout>
