---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Nathan Lardizabal | Contact">
	<h1 class="mb-8 text-2xl font-semibold">contact me!</h1>
	<p class="text-sm font-light text-slate-300">
		feel free to reach out to me via email or social media!
	</p>
	<hr class="my-4 border-slate-700" />
	<section class="grid grid-cols-1 gap-4 md:grid-cols-2">
		<form action=""></form>
	</section>
</Layout>
