---
import Layout from '@layouts/Layout.astro'
import { actions } from 'astro:actions'

const result = Astro.getActionResult(actions.contact)
if (result && !result.error) {
	return Astro.redirect('/contact/success')
}
---

<script
	is:inline
	src="https://www.google.com/recaptcha/api.js?trustedtypes=true&render=6LdVuaorAAAAAPgx6nkCo0WFQzsZjXq8pl4xK4Ib"
></script>

<Layout title="Nathan Lardizabal | Contact">
	<h1 class="mb-8 text-2xl font-semibold">contact me!</h1>

	<p class="text-sm font-light text-slate-300">
		feel free to reach out to me via email or social media!
	</p>

	<hr class="my-4 border-slate-700" />

	<section>
		<form
			id="contact"
			method="POST"
			class="space-y-4 text-sm font-light"
			action={actions.contact}
		>
			<div class="flex w-full gap-4">
				<div class="flex w-1/2 flex-col gap-2">
					<label for="name">name</label>
					<input
						type="text"
						id="name"
						name="name"
						required
						class="rounded border border-slate-700 bg-transparent px-2 py-2"
					/>
				</div>
				<div class="flex w-1/2 flex-col gap-2">
					<label for="email">email</label>
					<input
						type="email"
						id="email"
						name="email"
						required
						class="rounded border border-slate-700 bg-transparent px-2 py-2"
					/>
				</div>
			</div>

			<div class="flex flex-col gap-2">
				<label for="message">message</label>
				<textarea
					id="message"
					name="message"
					rows="6"
					required
					class="rounded border border-slate-700 bg-transparent px-2 py-2"
				></textarea>
			</div>

			<input type="hidden" name="token" id="recaptcha-token" />

			<div class="flex justify-end">
				<button
					type="submit"
					class="rounded border border-slate-700 bg-transparent px-4 py-2 transition-all hover:bg-slate-800 disabled:cursor-not-allowed disabled:opacity-50"
				>
					send
				</button>
			</div>
		</form>

		<div>
			<!-- error messaging -->
			<p class="font-light text-slate-300">
				{
					result && result.error && (
						<span class="text-red-400">
							{result.error.message}. Please try again.
						</span>
					)
				}
			</p>
			<!-- success messaging -->
			<p class="font-light text-slate-300">
				{
					result && result.data && (
						<span>
							Thank you for contacting me! I'll get back to you as soon as I
							can.
						</span>
					)
				}
			</p>
		</div>
	</section>
</Layout>

<script is:inline>
	const form = document.querySelector('form')
	const tokenInput = document.getElementById('recaptcha-token')

	try {
		form?.addEventListener('submit', async (e) => {
			e.preventDefault()

			const token = await grecaptcha.execute(
				'6LdVuaorAAAAAPgx6nkCo0WFQzsZjXq8pl4xK4Ib',
				{
					action: 'submit',
				}
			)
			tokenInput.value = token
			form.submit()
		})
	} catch (error) {
		console.error(error)
	}
</script>
