---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Nathan Lardizabal | Contact">
	<h1 class="mb-8 text-2xl font-semibold">contact me!</h1>

	<p class="text-sm font-light text-slate-300">
		Thank you for contacting me! I'll get back to you as soon as I can.
	</p>
</Layout>
