---
import Layout from '@layouts/Layout.astro'
import GitHubContributions from '@components/home/GitHubContributions.astro'
import Hero from '@components/home/Hero.astro'
---

<Layout title="Nathan Lardizabal | Frontend Developer">
	<!-- hero -->
	<section class="flex flex-col">
		<Hero />
		<GitHubContributions />
	</section>
</Layout>
