---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Nathan Lardizabal | Frontend Developer">
	<!-- hero -->
	<section class="flex flex-col">
		<h1 class="font-bold text-4xl">Hi there, my name is Nathan Lardizabal.</h1>
		<p>I'm a Frontend Developer based in Toronto, ON.</p>
	</section>
</Layout>
