---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Nathan Lardizabal | Frontend Developer">
	<!-- hero -->
	<section class="flex flex-col">
		<h1 class="font-semibold text-2xl mb-8">hey, i'm nate 👋</h1>
		<p class="text-slate-300 font-light leading-loose">
			I'm a frontend developer, optimist, and innovator. I currently work as a frontend dev at QuoteMedia, where I
			create marketing websites in Vue 3, Nuxt 3, and TailwindCSS.
		</p>
	</section>
</Layout>
