---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Nathan Lardizabal | Projects">
	<h1 class="font-semibold text-2xl mb-8">projects</h1>
	<section class="flex flex-col gap-4">
		<a href="/projects/riseup">riseup</a>
		<a href="/projects/fcc">fcc</a>
	</section>
</Layout>
