---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Nathan Lardizabal | Work">
	<h1 class="font-semibold text-2xl mb-8">work</h1>
	<section class="flex flex-col gap-4">
		<a href="/work/quotemedia">quotemedia</a>
		<a href="/work/leons">leons</a>
		<a href="/work/manulife">manulife</a>
	</section>
</Layout>
