---
import { GET } from '@api/contributions.json'
import Icon from 'astro-icon'
const response = await GET()
const { contributions } = await response.json()
---

<div>
	<table class="grid w-full overflow-auto">
		{
			contributions.map((row) => {
				return (
					<tr>
						{row.map((day) => {
							let bg
							if (day?.level === 0) bg = 'bg-gh0'
							else if (day?.level === 1) bg = 'bg-gh1'
							else if (day?.level === 2) bg = 'bg-gh2'
							else if (day?.level === 3) bg = 'bg-gh3'
							else if (day?.level === 4) bg = 'bg-gh4'

							return <td class={`${bg} border-4 border-slate-950 p-2`} />
						})}
					</tr>
				)
			})
		}
	</table>
	<div class="my-4 flex justify-end">
		<a
			href="/projects"
			class="flex items-center text-xs text-gray-500 transition hover:text-gray-50"
			>check out my projects

			<Icon name="mdi:chevron-right" class="h-4 w-auto" />
		</a>
	</div>
</div>
