---
import NavbarItem from './NavbarItem.astro'
const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1)

const navItems = [
	{
		href: '/',
		label: 'home',
	},
	{
		href: '/work',
		label: 'work',
	},
	{
		href: '/projects',
		label: 'projects',
	},
	{
		href: '/blog',
		label: 'blog',
	},
	{
		href: 'mailto:nathanjlardizabal@gmail.com',
		label: 'contact',
	},
]
---

<nav class="mb-16 flex justify-center gap-4 py-4 font-light md:justify-start">
	{
		navItems.map((item) => (
			<NavbarItem {currentPath} href={item.href} label={item.label} />
		))
	}
</nav>
