---
const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1)
---

<nav class="flex justify-start gap-4 py-4 font-light mb-16">
	<a class={currentPath === '' ? 'font-semibold' : 'transition hover:underline'} href="/">home</a>
	<a class={currentPath.includes('work') ? 'font-semibold' : 'transition hover:underline'} href="/work">work</a>
	<a class={currentPath.includes('projects') ? 'font-semibold' : 'transition hover:underline'} href="/projects">
		projects
	</a>
	<a class={currentPath.includes('blog') ? 'font-semibold' : 'transition hover:underline'} href="/blog">blog</a>
	<a class="transition hover:underline text-violet-300" href="mailto:nathanjlardizabal@gmail.com"> contact</a>
</nav>
