---
import NavbarItem from './NavbarItem.astro'

const navItems = [
	{ href: '/', label: 'home' },
	{ href: '/work', label: 'work' },
	{ href: '/projects', label: 'projects' },
	{ href: '/blog', label: 'blog' },
	{ href: '/contact', label: 'contact' },
]
---

<nav
	class="container mx-auto flex w-full max-w-2xl justify-start gap-4 py-10 font-light"
>
	{navItems.map((item) => <NavbarItem href={item.href} label={item.label} />)}
</nav>
