---
import SpotifyNowPlaying from './footer/SpotifyNowPlaying.astro'
---

<footer class="pb-10 bg-slate-950">
	<div class="container max-w-2xl mx-auto flex justify-start py-4 gap-4">
		<SpotifyNowPlaying />
	</div>
</footer>
