---
import Socials from './footer/Socials.astro'
import SpotifyNowPlaying from './footer/SpotifyNowPlaying.astro'
---

<footer class="pb-10 bg-slate-950">
	<div
		class="container max-w-2xl mx-auto flex flex-col justify-start py-4 gap-4"
	>
		<SpotifyNowPlaying />
		<Socials />
	</div>
</footer>
