---
import Socials from './footer/Socials.astro'
import SpotifyNowPlaying from './footer/SpotifyNowPlaying.astro'
---

<footer class="bg-slate-950 pb-10">
	<div
		class="container mx-auto flex max-w-2xl flex-col justify-start gap-4 py-4"
	>
		<hr class="container mx-auto max-w-2xl border-slate-700" />
		<SpotifyNowPlaying />
		<Socials />
	</div>
</footer>
