---
import Socials from './footer/Socials.astro'
import { version } from '../../package.json'
import { format } from 'date-fns'

const currentYear = format(new Date(), 'yyyy')
---

<footer class="bg-slate-950 px-4 pb-10 md:px-0">
	<div
		class="container mx-auto flex max-w-2xl flex-col justify-start gap-4 py-4"
	>
		<hr class="container mx-auto max-w-2xl border-slate-700" />

		<Socials />

		<div class="text-center">
			<a
				href="https://github.com/n9d0g/njil.dev/releases"
				target="_blank"
				class="w-fit text-xs text-slate-700 hover:text-slate-500"
			>
				v{version}
			</a>
			<p class="text-xs text-slate-700">
				&copy; 2023-{currentYear}, NJIL Development. All Rights Reserved.
			</p>
		</div>
	</div>
</footer>
