---
import type { GetStaticPaths } from 'astro'
import Layout from '@layouts/Layout.astro'

export const getStaticPaths = (() => {
	return [
		{
			params: { project: 'riseup' },
		},
		{
			params: { project: 'fcc' },
		},
	]
}) satisfies GetStaticPaths

const { project } = Astro.params
---

<Layout title=`Nathan Lardizabal | ${project}`>
	<h1 class="font-semibold text-2xl mb-8">{project}</h1>
</Layout>
