---
import { Icon } from 'astro-icon'
import NowPlaying from './NowPlaying.svelte'

const clientId = import.meta.env.SPOTIFY_CLIENT_ID
const clientSecret = import.meta.env.SPOTIFY_CLIENT_SECRET
const refreshToken = import.meta.env.SPOTIFY_REFRESH_TOKEN
---

<div class="font-light text-slate-400 pt-10">
	<div class="flex justify-start items-center h-10">
		<Icon name="logos:spotify-icon" class="w-7 h-7 mr-2" />
		<NowPlaying clientId={clientId} clientSecret={clientSecret} refreshToken={refreshToken} client:load />
	</div>
</div>
