---
const response = await fetch('https://api.spotify.com/me/player/currently-playing?market=CA&')
const data = await response.json()

console.log(data)
---

<div class="font-light">spotify now playing</div>
