---
import Analytics from '@vercel/analytics/astro'
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import '@styles/globals.css'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en" class="bg-slate-950">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
			rel="stylesheet"
		/>
		<meta charset="UTF-8" />
		<meta name="description" content="Nathan Lardizabal - Senior frontend developer based in Toronto 📍" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<Analytics />
		<script
			src={`https://www.google.com/recaptcha/api.js?render=${import.meta.env.PUBLIC_RECAPTCHA_SITE_KEY}`}
			async
			defer
		></script>
	</head>

	<body
		class="flex min-h-[100dvh] flex-col justify-between bg-slate-950 pt-8 text-slate-100"
	>
		<div class="relative flex-grow">
			<Header />
			<main class="container mx-auto mt-20 max-w-2xl bg-slate-950 px-4 md:px-0">
				<slot />
			</main>
		</div>
		<Footer />
		<style is:global>
			html {
				font-family: 'Rubik', sans-serif;
			}
		</style>
	</body>
</html>
